{
    "printWidth": 85,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "auto",
    "bracketSpacing": true,
    "semi": false,
    "htmlWhitespaceSensitivity": "strict"
}